@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@media screen and (max-width: 1023px) {

    :root {
        --teksti: #333333;
        --tausta: #f6e1f8;
    }

    body {
        margin: 0;
        padding: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        font-family: 'Poppins', 'sans-serif';
        background-color: var(--tausta);
        color: var(--teksti);
    }

    main {
        flex-grow: 1;
        padding: 5px;
    }

    header {
        display: none;
    }
    footer {
        display: none;
    }

    h1 {
        text-align: center;
    }

    h2 {
        font-size: medium;
        font-weight: bold;
    }

    .btn-primary {
        background-color: white;
        border-color: var(--teksti);
        color: var(--teksti);
    }

    .btn-primary:hover {
        background-color: lightgray;
        border-color: var(--teksti);
        color: var(--teksti)
    }

    .btn-primary:active {
        background-color: darkgray !important;
        border-color: var(--teksti) !important;
        color: white !important;
    }

    .lomake {
        background-color: white;
        max-width: 100%;
        height: auto;
        align-content: left;
        border-style: outset;
        border-width: 4px;
        border-color: rgb(250, 228, 232);
        padding: 5px;
    }

    .container {
        margin-top: -5vh;
        width: 100%;
    }

    .col-md-2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .col-6 {
        margin-left: 7vw;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    p {
        font-size: small;
    }
    
    label {
        margin-bottom: 20px;
    }

    textarea {
        width: 40vw;
        margin-bottom: 10px;
        margin-left: 4vw;
    }

    input {
        width: 40vw;
        align-content: center;
        margin-left: 15vw;
    }

    .fontti {
        display: none;
    }

    .mobiilifontti {
        font-size: small;
    }

    .marginaali {
        margin-left: 8vw;
        margin-right: -14vw;
    }

    .maa {
        font-size: small;
    }
}      
